# Terraform files
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
crash.log
crash.*.log

# Python files
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# OS specific files
.DS_Store
Thumbs.db

# lambda download zip fiel
*.zip

.DS_Store